@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1>Polityka Prywatności</h1>

<section>
    <h2>1. Zbierane dane osobowe</h2>
    <p>Podczas korzystania z naszego serwisu wynajmującego auta możemy zbierać i przetwarzać następujące dane osobowe:</p>
    <ul>
        <li>Imię i nazwisko</li>
        <li>Adres email</li>
        <li>Numer telefonu</li>
        <li>Dane dotyczące wynajmu samochodu (np. data odbioru i zwrotu, preferencje dotyczące pojazdu)</li>
    </ul>
</section>

<section>
    <h2>2. Cel przetwarzania danych osobowych</h2>
    <p>Dane osobowe są zbierane i przetwarzane w celu umożliwienia świadczenia usług wynajmu samochodów oraz w celach administracyjnych, takich jak kontakt z użytkownikiem w sprawach związanych z jego wynajmem.</p>
</section>

<section>
    <h2>3. Podstawa prawna przetwarzania</h2>
    <p>Podstawą prawną przetwarzania danych osobowych jest:</p>
    <ul>
        <li>Wykonanie umowy wynajmu, której stroną jest osoba, której dane dotyczą.</li>
        <li>Uzasadniony interes administratora danych (np. zapewnienie bezpieczeństwa usług).</li>
        <li>Wyrażona zgoda użytkownika na przetwarzanie danych w określonym celu, jeśli jest to konieczne.</li>
    </ul>
</section>

<section>
    <h2>4. Bezpieczeństwo danych osobowych</h2>
    <p>Zadbaliśmy o odpowiednie środki techniczne i organizacyjne, aby chronić dane osobowe przed nieautoryzowanym dostępem, utratą, zmianą lub zniszczeniem.</p>
</section>

<section>
    <h2>5. Udostępnianie danych osobowych</h2>
    <p>Dane osobowe mogą być udostępniane tylko tym osobom i podmiotom, które są niezbędne do realizacji usług wynajmu samochodów (np. partnerom logistycznym).</p>
</section>

<section>
    <h2>6. Prawa użytkowników</h2>
    <p>Użytkownicy mają prawo do:</p>
    <ul>
        <li>Dostępu do swoich danych osobowych i ich poprawiania.</li>
        <li>Usunięcia swoich danych osobowych, chyba że istnieje uzasadniony interes lub obowiązek prawnie określony, który uniemożliwia usunięcie danych.</li>
        <li>Wycofania zgody na przetwarzanie danych osobowych w dowolnym momencie, jeśli przetwarzanie opiera się na zgodzie.</li>
    </ul>
</section>

<section>
    <h2>7. Kontakt</h2>
    <p>W przypadku pytań dotyczących polityki prywatności lub przetwarzania danych osobowych prosimy o kontakt pod adresem: kontakt@twojadomena.pl</p>
</section>
